@import url("reset.css");
.banner {
  height: 300px;
  background: url("http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg") no-repeat;
  background-size: cover;
  background-position: center 10%;
}
.banner .container img {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50% -50%);
}
.mynav {
  text-align: center;
}
.navbar-nav {
  float: none;
  display: inline-block;
}
.cai {
  margin-top: 30px;
  background-color: white;
}
.cai h1 {
  text-align: center;
  font-size: 30px;
}
.cai h4 {
  margin-top: 32px;
  font-size: 14px;
  text-align: center;
}
.cai h2 {
  margin-top: 32px;
  font-size: 18px;
  text-indent: 2em;
}
.cai button {
  margin-left: 20px;
  margin-top: 42px;
  background-color: orangered;
}
.cai hr {
  margin-top: 50px;
}
.gai {
  margin-top: 30px;
  background-color: white;
}
.gai h2 {
  font-size: 25px;
}
.gai h4 {
  margin-top: 32px;
  font-size: 14px;
}
.gai h3 {
  margin-top: 12px;
  font-size: 14px;
  color: orangered;
}
.gai p {
  margin-top: 12px;
  font-size: 14px;
  color: orangered;
}
.fei {
  background-color: white;
  margin-top: 35px;
}
.fei h1 {
  font-size: 25px;
}
.fei button {
  margin-top: 20px;
  background-color: orangered;
}
.last {
  width: 100%;
  height: 368px;
  background-color: #202020;
  margin-top: 30px;
}
.last .san {
  color: white;
  font-size: 22px;
  display: block;
}
.last a:hover {
  color: orange;
}
.last .sans {
  margin-top: 15px;
  display: block;
  color: white;
  font-size: 12px;
}
.last .sans a:hover {
  color: orange;
}
@media (max-width: 1200px) {
  .container {
    height: 368px;
  }
}
